.div1{
  background-image: url("../../assets/img/brand/icon.png");
  float: left;
  width: 90px;
  height: 90px;
  border-radius: 1px;
  border-style: solid;
  border-radius: 1px;

  border-color: #6c6c70;
  border-radius: 4px;
  margin-right: 15px;

}
.div2{
 float: left;  
 
}
.div3{
    float: left;
    background-color: #FFF4E8;
    border-style: solid;
    border-color:  #FFF4E8  #FFF4E8  #FFF4E8  #FFAE6F ;
    border-width: 4px;
    border-radius: 4px;
    width:95%;
    margin-top: 30px;
    height: 120px;
}
.main{
  
    float: left;
}
.chart{
    border-style: solid;
    border-width: 2px;
 
  
    

}
.chart p{
    font-size: 15px;
}

.navbar {
  width: 100%;

  overflow: auto;
}

.a1  {
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}




